<header class="dropdown">

  <div class="dropdown-top">
    <a href="/index.html">
      <div class="logo-container"></div>
    </a>
    <h2 class="toggler"></h2>
  </div>

  <div class="panel">
    <br>
    <a href="/#/cart">Cart</a>
    {% assign links = site.pages | sort: "order" %}
    {% for link in links %}
    {% if link.nav %}
    <a href="{{ link.url | absolute_url }}" class="{% if link.url  == page.url %}active{% endif %}">
      {{ link.title }}
    </a>
    {% endif %}
    {% endfor %}
    <a href="mailto:upstage.beats@gmail.com">Contact</a>
    <br>

  </div>

</header>

<header class="full-width">
  <a href="/index.html">
    <div class="logo-container"></div>
  </a>
  <div>
    <h1>For Artists, by Artists</h1>
  </div>
  <div>
    <h1>MP3/WAV Licenses Available Below</h1>
  </div>
  <div>
    <h1>Contact for Exclusive Licenses</h1>
  </div>
  <div class="split-buttons">
    <button><a href="/#/cart">Cart</a></button>
    <button><a href="mailto:upstage.beats@gmail.com">Contact</a></button>
  </div>

</header>
