

<main>

  <section class="title-and-tags">

  <section class="tag-container">
    {% assign links = site.pages | sort: 'order' %}
    {% for link in links %}
    {% if link.tag %}
    <a href="{{ link.url | absolute_url }}"
       class="{% if link.url  ==  page.url %}active{% endif %}">
      <button class="tag">{{ link.tag }}</button>
    </a>
    {% endif %}
    {% endfor %}
  </section>

    <h1>{{ page.tag }}</h1>

  </section>

  <section class="track-container">

    {% for post in site.posts %}
    {% if post.tags contains page.tag %}

    {% include track-listing.html %}

    {% endif %}
    {% endfor %}

  </section>

</main>
