<!DOCTYPE html>

<html>

{% include head.html %}

<body class="track-page">

  {% include header.html %}


  <main>

    <div class="track-section">

      <a href="/index.html">
        <button>View all tracks<img src="/images/arrow.svg"></button>
      </a>

      <div class="track-section">
        <div class="top">
          <h4>{{ page.track-name }}</h4>

        </div>

        <div class="bottom">
          <div class="sample">
            {{ page.sample-embed }}
          </div>
          <div class="button-row">
            <button class="snipcart-add-item" data-item-id="{{ page.mp3-id }}" data-item-price="25" data-item-url="/" data-item-description="{{ page.track-description }}" data-item-name="{{ page.track-name }} – MP3"
              data-item-file-guid="{{ page.mp3-guid }}" data-item-max-quantity="1">
              Buy .mp3
            </button>
            <button class="snipcart-add-item" data-item-id="{{ page.wav-id }}" data-item-price="50" data-item-url="/" data-item-description="{{ page.track-description }}" data-item-name="{{ page.track-name }} – WAV"
              data-item-file-guid="{{ page.wav-guid }}" data-item-max-quantity="1">
              Buy .wav
            </button>
          </div>
        </div>
      </div>

    </div>

  </main>

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
