<!DOCTYPE html>

<html>

<head>
{% include head.html %}
</head>

<body class="track-page">

  {% include header.html %}


  <main>

    <div class="track-section">

      <a href="/index.html">
        <button>View all tracks<img src="/images/arrow.svg"></button>
      </a>

      <div class="track-section">
        <div class="top">
          <h4>{{ page.track-name }}</h4>

        </div>

        <div class="bottom">
          <div class="sample">
            <iframe style="border: 0; width: 400px; height: 208px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.sample-embed }}/size=large/bgcol=ffffff/linkcol=333333/artwork=none/transparent=true/" seamless></iframe>
          </div>
          <div class="button-row">

            <button
            class="snipcart-add-item"
            data-item-id="{{ page.track-name }} - MP3"
            data-item-price="25"
            data-item-url="{{ page.url }}"
            data-item-description="{{ page.track-description }}"
            data-item-name="{{ page.track-name }} – MP3"
            data-item-file-guid="{{ page.mp3-guid }}"
            data-item-max-quantity="1">
              Buy .mp3
            </button>

            <button
            class="snipcart-add-item"
            data-item-id="{{ page.track-name }} - WAV"
            data-item-price="50"
            data-item-url="{{ page.url }}"
            data-item-description="{{ page.track-description }}"
            data-item-name="{{ page.track-name }} – WAV"
            data-item-file-guid="{{ page.wav-guid }}"
            data-item-max-quantity="1">
              Buy .wav
            </button>

          </div>
        </div>
      </div>

    </div>

  </main>

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
